.card-synonyms{
    background-color: aliceblue;
    color: black;
    padding-left: 20px;
}
.card-synonyms:hover{
    background-color: grey;
    color:white;
}
.example-panel-green.mat-select-panel {
    background: rgba(0, 255, 0, 0.5);
}
.yellow{
    background-color: #FFD662FF;
    font-family: "Lucida Console", "Courier New", monospace;
}
.font{
    font-family: "Lucida Console", "Courier New", monospace;
}
.striped-row{
    background-color: red;
}
.mat-row:nth-child(2n+1){
    background-color: #e4f0ec;
  }
  .mat-row:not(:nth-child(4n+1)){
    background-color:#ffffff;
  }