<div class="container">
  <mat-card class="yellow text-dark mt-5 align-items-center flex justify-content-center p-3 mat-elevation-z8">
    <div class="row align-items-center flex justify-content-center text-center m-4 pt-3">
      <h1 class="font" style="font-size: 60px">Keresés szótárban</h1>
    </div>
  </mat-card>
  <div class="col-12 w-100 mt-3 mb-3">
    <mat-card class="yellow w-100 mat-elevation-z8">
      <div class="input-group align-items-center flex justify-content-center">
        <span class="input-group-text bg-dark text-light" id="basic-addon3">Keresett szó</span>
        <input
          matInput
          type="text"
          class="form-control"
          id="search-word"
          aria-describedby="basic-addon3"
        />
        <button
          mat-flat-button
          type="button"
          class="btn btn-dark"
          (click)="searchClick()"
        >
          Keresés
        </button>
      </div>
      <div class="d-flex flex-nowrap justify-content-between align-items-center mt-3">
        <div class="w-50">
          <select
            class="form-select"
            aria-label="Source language"
            id="sourceId"
            (change)="selectSourceLang()"
          >
            <option value="mirol">Miről</option>
            <option *ngFor="let lang of sourceLanguages" value="{{ lang }}">
              {{ convertToNormalName(lang) }}
            </option>
          </select>
        </div>
        <div class="d-flex justify-content-center me-3 ms-3 text-dark">-</div>
        <div class="w-50">
          <select
            class="form-select"
            aria-label="Destinition language"
            id="destinitionId"
          >
            <option value="mire">Mire</option>
            <option
              *ngFor="let lang of destinitionLanguages"
              value="{{ lang }}"
            >
              {{ convertToNormalName(lang) }}
            </option>
          </select>
        </div>
      </div>
    </mat-card>
  </div>

  <div *ngIf="countOfWords != 0" class="mat-elevation-z8 w-100">
    <table mat-table [dataSource]="translation" class="w-100 bg-dark" >
  
      <!-- Source Column -->
      <ng-container matColumnDef="forrás" class="text-dark w-25">
        <th mat-header-cell *matHeaderCellDef class="text-light bg-dark w-25"> Forrás </th>
        <td mat-cell class="text-dark" *matCellDef="let element"> {{element[0]}} </td>
      </ng-container>
  
      <!-- Destinition Column -->
      <ng-container matColumnDef="eredmény">
        <th mat-header-cell *matHeaderCellDef class="text-light bg-dark"> Eredmény </th>
        <td mat-cell style="white-space: pre" class="text-dark" *matCellDef="let element"> {{element[1]}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; let odd = odd ;columns: displayedColumns;" [class.striped-row]="odd"></tr>
    </table>

  </div>
  <div class="col-12 mt-3" *ngIf="countOfWords != 0">
    <mat-card class="yellow mat-elevation-z8">
        <h3 style="color: black" class="d-flex justify-content-between align-items-center">
          <b>Találatok száma kategória szerint: {{ countOfWords }}</b>
        </h3>

    </mat-card>
  </div>
</div>
